<!DOCTYPE html>
<html lang="en" >

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
   <title>Mesibo Live</title>
  
   <link rel="stylesheet" href="third-party/bootstrap.min.css">
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
   
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
   <link rel="stylesheet" href="styles/mesibolive.css">
   <link href="styles/live.css" rel="stylesheet">
   <link href="styles/popup.css" rel="stylesheet">
   <link href="styles/popupdesign.css" rel="stylesheet">

    <!--SCRIPTINCLUDESTART-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="third-party/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <script src="assets/scripts/platform.js"></script>
 

    <script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script type="text/javascript" src="https://api.mesibo.com/mesibo.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts/controller.js"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=6LceR_sUAAAAAEfV7LZK2cOaOHRzPSCNEK-_jcfU"></script>


    <script type="text/javascript" src="mesibo/config.js"></script>    
    <script type="text/javascript" src="mesibo/utils.js"></script>
    <script type="text/javascript" src="mesibo/app.js"></script>
    <script type="text/javascript" src="mesibo/calls.js"></script>
    <script type="text/javascript" src="mesibo/files.js"></script>

    <script type="text/javascript" src="scripts/app-utils.js"></script>
    <script type="text/javascript" src="scripts/login.js"></script>
    <script type="text/javascript" src="scripts/controller.js"></script>
    <!--SCRIPTINCLUDEEND-->  
</head>

<body ng-app="mlApp" id="mesiboliveapp" ng-controller="roomController" style="overflow: hidden;">
 
 <div style="position: fixed; height: 100vh;width: 100vw; background-color: hsl(0, 0%, 0%, 0.4); display: none; z-index: 100" id="permissions-prompt">
    <svg width="1000" height="1000" >
    <path d="M600 60 580 70 L600 80 Z" style="stroke:white; fill: white"></path>
        <line x1="600" y1="70" x2="680" y2="70" style="stroke:white;stroke-width:2" />        
    </svg>
    <div style="position: absolute;top:50px;left: 700px;margin: auto; color: white; font-size: 30px; font-style: italic;">
       Please grant required permissions
    </div>    
  </div> 
   <div style="max-width: 100%; background-color: hsl(0, 0%, 90%);" ng-show="!ultra_full_screen_mode">
        <nav class="navbar navbar-expand-md navbar-dark static-top" id="mesibo_live_main_navbar" style="margin-bottom: 0!important; background-color: #00868b; padding: 0!important">
      <a class="navbar-brand" href="#" style="margin-right: 5px!important">&nbsp;<img width="100px" src="assets/images/mesibo-logo.png">&nbsp; Live</a>
      <span class="connection-indicator" style="width:15px" ng-style ="{'background-color': getStatusIndicator(mesibo_connection_status)}"></span>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" style="font-size: 15px"><i class="fa fa-angle-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="https://mesibo.com" target="_blank" ><i class="fa fa-home"></i> &nbsp;Mesibo Home</a>
              <a class="dropdown-item" href="https://mesibo.com/conferencing" target="_blank" ><i class="fa fa-star"></i> &nbsp;Features</a>
              <a class="dropdown-item" href="https://mesibo.com/documentation/conferencing" target="_blank" ><i class="fa fa-book"></i>&nbsp; Documentation</a> 
              <a class="dropdown-item" href="https://github.com/mesibo/conferencing" target="_blank" ><i class="fab fa-github"></i>&nbsp;  Source Code</a>
	    </div>
          </li>
        </ul>
      </div>

      <div ng-cloak="isMesiboConnected()" style="text-align: center; display: inline-block; width: 100%">
              <div style="font-size: 30px">
                <!-- <i class='fa fa-camera' ng-show="room.publish == 1" ng-click="streamFromCamera()" style = "cursor:pointer;padding-left: 10px;" title="Camera" ></i> -->

                <div class="btn-group" role="group">
                    <i id="screenShareOptions" class='fa fa-desktop' ng-show="room.publish == 1" style = "cursor:pointer;padding-left: 10px;" ng-style ="{'color': local_screens.length > 0 ? '#FA8072':'white'}" title="Share Screen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i> 
                  <div class="dropdown-menu screen-share-options" aria-labelledby="screenShareOptions" style="background-color: #00868b; min-width: 20rem!important; font-size: 25px"> 
                    <a class="dropdown-item" ng-repeat="screen in local_screens track by $index" href="#" style="border-bottom: 1px solid  rgb(240,240,240);" >
                      <i class="fa fa-desktop" aria-hidden="true" ng-click="streamFromScreen(local_screens[$index].getType())" style="color: white; width: 30px"></i><span style="color: white">&nbsp;Screen-{{$index+1}}</span>
                     <span style="float: right"> 
                      <i  ng-class="getVideoStatusClass(local_screens[$index])" ng-click="local_screens[$index].toggleMute(true);" ng-attr-title="{{ local_screens[$index].muteStatus(true, false) == false ? 'Pause Screen': 'Play Screen'}}" style="color:white" aria-hidden="true"></i> 
                      <i class="fa fa-eye" aria-hidden="true" title="Preview Screen" ng-click="openScreenSharePreview(local_screens[$index])" style="color:white"></i>
                      <i class="fa fa-stop-circle" ng-click="on_hangup(local_screens[$index], false)" aria-hidden="true" style="color: #FA8072" title="Stop Screen"></i> 
                      </span>               
                    </a>                                           
                    <a class="dropdown-item" href="#" ng-click="streamFromScreen()" style="color: white"><i class="fa fa-plus" style="color: white;width: 30px; padding-left: 5px" aria-hidden="true"></i> Add Screen</a>
                  </div>
                </div>

                <i class='fa fa-expand' ng-click="enterFullScreenMode()" style = "color:white;cursor:pointer;padding-left: 10px;" title="Enter Full Screen"></i>                                                               
                <i class="fa fa-comments" aria-hidden="true" ng-click="showPopupChat()" style = "color: white; cursor:pointer;padding-left: 10px;width: 50px" title="Group Chat">{{group_messsage_notification}}</i>
                <i class="fa fa-id-card" aria-hidden="true" ng-click="toggleNameDisplay()" style = "color: white; cursor:pointer;padding-left: 10px;" ng-attr-title="{{ display_names? 'Hide Names': 'Show Names' }}">{{display_names_placeholder}}</i>  
                <i class="fa fa-user-plus" aria-hidden="true" onclick="showInviteForm()" style = "color: white; cursor:pointer;padding-left: 10px;" ng-if="room.pin && room.spin" title="Invite"></i>
                <i class="fa fa-info" aria-hidden="true" onclick="showSelfInfoForm()" style = "color: white; cursor:pointer;padding-left: 10px;padding-right: 10px;" title="Who Am I?"></i> 
                <i class="fa fa-power-off" aria-hidden="true" ng-click="exitRoomForm()" style = "color: white; cursor:pointer;   display: inline-block;" title="Exit Room"></i>
          
              </div>    
      </div>

      <span style="color: white;text-align: right;  font-size: 20px; width: 300px; cursor: default; text-overflow: ellipsis;white-space: nowrap;overflow: hidden; padding-right: 10px"   ng-attr-title="{{room.name}}" ng-cloak="room.name" >
        {{room.name}}
      </span>      
     
  </nav>
        

      <!--Self Info Modal Start-->            
            <div id="ModalSelfInfo" class="modal fade">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{{user.name}}</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form role="form" method="POST" action="">
                            <input type="hidden" name="_token" value="">
                            <div class="form-group">
                                <label class="control-label"><strong>User ID</strong></label>
                                <div>
                                    <input type="name" class="form-control input-lg" name="name" ng-value="user.uid" disabled>
                                </div>
                                <br>
                                <label class="control-label"><strong>Email</strong></label>
                                <div>
                                    <input type="name" class="form-control input-lg" name="name" ng-value="user.email" disabled>
                                </div>                                
                                <br>

                                <label class="col-12 control-label text-center my-0 mx-auto"><strong>Online in the following room(s)</strong></label>
                                <hr style="border: 0; height: 1px; background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); ">
                                <div>
                                    <strong>Room Name</strong>: &nbsp; {{room.name}} &nbsp;<strong> Room ID </strong>: &nbsp; {{room.gid}} &nbsp;
                                </div>                                    
                                </div>
                            </div>
                        </form>            
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

      <!--Self Info Modal End-->

      <!--Exit Room Modal Start -->
            <div id="ModalExitForm" class="modal fade">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mx-auto" style="text-align: center;width: 100%">Do you want to exit the room ?</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="">                          
                            <div class="form-group">
                                <div style="text-align: center;">
                                    <button type="button" class="btn btn-danger" ng-click="exitRoom()">Exit</button>
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                </div>
                                
                            </div>
                        </form>            
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

      <!--Exit Room Modal End-->

      <div id="main-container" ng-cloak="isMesiboConnected()">
         <div class="row no-gutters h-100" style="background-color: white;">
            <div class="col-3" style="border-right: 1px solid  rgb(240,240,240);-webkit-background-clip: padding-box;background-clip: padding-box;" ng-show="!ultra_full_screen_mode">
              
               <div class="panel panel-default" ng-show="room.publish == 1" style="background-color: #ccc">
                        <div class="panel-body   self-publisher-panel" id="video-publisher-panel" style="border: 2px solid white;">
                                <div class="d-flex h-100 justify-content-center">
                                  <div class="row" ng-show="publisher.streamOptions" style="position: fixed; margin-top: 4rem; text-align: center; z-index: 100"> 
                                    <i class='fa fa-camera col-12 my-auto'  ng-click="streamFromCamera()" style = "cursor:pointer; color: white;font-size: 1.5em;" title="Camera" ></i>                                   
                                  </div>
                                  <div class="spinner-border text-light" style="position: fixed; margin-top: 4rem" role="status" ng-style="{'display': (!publisher.isConnected && !publisher.streamOptions) ? 'block':'none'}">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                                </div>  
                                
                                <div  class="mx-auto my-auto" style="text-align: center;" id="video-publisher-container">
                                  <video class="centered" id="video-publisher" autoplay playsinline muted width="100%" height="100%" />
                                </div>
                                
                                <div class="loss-indicator" style="background-color: hsl(0, 0%, 0%, 0.4); width: 40px;top:40px; left:0px; position: absolute; cursor: pointer;" title="Loss: -50%" >
                                  <div>                                    
                                    &nbsp;<i style="font-size: 10px; color: red; display: inline;" class="fa fa-circle"></i>
                                    <span style="font-size: 8px; color: white; display: inline; padding-bottom: 20px">-50%</span>
                                  </div>                                    
                                </div> 

                                <div class="stream-options" ng-show="publisher.isConnected" style="top:2px; right:2px; position: absolute; background-color: hsl(0, 0%, 0%, 0.4); width: 30px; font-size: 15px; text-align: center;" ng-style="{'display': publisher.muteStatus(true, false) || publisher.muteStatus(false, false) ?'block':''}">
                                    <a href="#" style="color: white; display: block;"><i ng-class="getAudioStatusClass(publisher)" ng-click="toggleSelfAudio()" ng-attr-title="{{ publisher.muteStatus(false, false) == false ? 'Mute Audio': 'Unmute Audio'}}" ></i></a>
                                    <a href="#" style="color: white;display: block;" ><i ng-class="getVideoStatusClass(publisher)" ng-click="toggleSelfVideo()" ng-attr-title="{{ publisher.muteStatus(true, false) == false ? 'Mute Video': 'Unmute Video'}}"></i></a>
                                    <a href="#" style="color: white;display: block;" ><i class="fa fa-window-maximize" ng-click="openFullscreen('video-publisher', '', publisher)" title="Full Screen"></i></a>
                                    <a href="#" style="color: white;display: block;" ><i class="fa fa-times" ng-click="on_hangup(publisher, false)" title="Hangup" ></i></a>
                                </div>                               
                        </div>                        
                </div>


               <div class="mx-auto text-white px-2 rounded" style="background-color: #00868b; color: white; width: 100%; text-align: center; margin-bottom: 2px; margin-top: 2px">Notifications</div>
              <div id="ticker_messages_area" style="text-align: left; overflow-x: hidden; overflow-y: scroll; bottom: 0; height: 100px"> 
                <div  class="d-flex flex-row w-100" ng-repeat="msg in ticker_messages track by $index" ng-if="ticker_messages[$index] != null" tabindex="0" style="padding-right: 5px; padding-top: 2px">
                 
                  <div class="ticker_message col-12">
                      <div class="name" style="font-size: 14px;"><strong>{{ticker_messages[$index].time}}</strong>: {{ticker_messages[$index].message}}</div>
                  </div>
                </div>

               </div>
               
               <!-- <button type="button" ng-click="addTicker()">Add ticker</button>  -->


              <div class="mx-auto my-1 text-white py-0 px-2 rounded" style="background-color: #00868b; color: white; width: 100%; text-align: center; ">Participants
              <i class="fa fa-comments" aria-hidden="true" ng-click="showPopupChat()" style = "cursor:pointer;padding-left: 10px; padding-right: 10px" title="Group Chat"></i>
              </div>
              <div style="text-align: center; color: grey; font-style: italic;" ng-if="participants.length==0"> {{participant_list_placeholder}}                  
              </div>
              <div id="participant-list" style="overflow-y: scroll; max-height: 25%;"> 
                <div class="participant-list-item d-flex flex-row w-100 p-2 border-bottom" ng-repeat="participant in participants track by $index" ng-if=" participants[$index] != null" ng-click="selectStream(participant)" tabindex="0" style="padding-right: 5px">
                  <input type="checkbox"  ng-checked=" participants[$index].isVisible == true" ng-click=
                  "toggleStreamVisibility(participant)">

                  <div class="col-8">
                      <div class="name" style="font-size: 12px;">&nbsp;{{participants[$index].getName()}}</div>
                  </div>

                  <div class="flex-grow-1 text-right mx-1" style="font-size:12px;">
                     <i class="fas fa-comment-alt" aria-hidden="true" ng-click="showPopupChat(participants[$index])" style="cursor:pointer; color: grey" id="chat_popup_participant_{{ participants[$index].getAddress()}}" title="Chat"></i>
                  </div> 
                  <div class="flex-grow-1 text-right mx-1" style="font-size:12px;">
                     <i class="fa fa-phone popup-make-voice-call" aria-hidden="true" style="cursor:pointer; color: #00868b" ng-click="callParticipant(participants[$index], true, false)" title="Audio Only Call"></i>
                  </div> 
                  <div class="flex-grow-1 text-right mx-1" style="font-size:12px;">
                     <i class="fa fa-video popup-make-video-call" aria-hidden="true;" style="cursor:pointer; color: #00868b" ng-click="callParticipant(participants[$index], true, true)" title="Video Only Call"></i>
                  </div>                                        
                </div> 
               </div>    

            </div>

          
            <!-- Streams Area -->
            
            <div class="d-none d-flex flex-column col-9" id="streams-area" style="border:0px solid orange; background-color: #ccc ">
                <div class="col-10" style="text-align: center;" ng-if="streams.length==0">                  
                  <div class="mx-auto"  style="color: grey;font-style: italic; margin: auto; font-size: 30px">  
                    <p style="margin-top: 30%; "> You are currently the only person in this conference! </p>                </div>
                  <button type="button" class="btn btn-info" style="background-color: #00868b" onclick="showInviteForm()" ng-if="room.pin && room.spin"  ><i class="fa fa-user-plus" aria-hidden="true" title="Invite"></i> Invite Family and Friends
                  </button>
                </div>  
                   
          		  <div class="row no-gutters" ng-show="!expanded_video_selected" id="grid-container">
                  <div ng-repeat="s in streams track by $index" ng-if="streams[$index] != null"  ng-class="{'col-12': grid_mode==1, 'col-6': grid_mode==2, 'col-4': grid_mode==3, 'col-3': grid_mode==4,'stream-thumbnail-block-selected': streams[$index].isSelected, 'stream-thumbnail-block': !streams[$index].isSelected, 'stream-thumbnail-block': streams[$index].isVisible, 'stream-thumbnail-block-hidden': !streams[$index].isVisible}" ng-dblclick="grid_mode==1 ? '' : toggleExpandScreen(streams[$index])" on-finish-render="onStreamsRendered" id="stream-container-{{$index}}">
                        <div style="text-align: center;">
                                  <div style="background-color: #ccc;">   
                                    <div class="mx-auto" style="top:0; position:absolute;color: white; text-align: left; font-size: 15px; z-index: 100; cursor: default;" ng-style="{'font-size': grid_mode >= 3 ? '15px' : '20px'}" >                                      
                                      <div style="background-color: hsl(0, 0%, 0%, 0.4); display: inline;" ng-if="display_names">&nbsp;{{getStreamName(streams[$index])}}&nbsp;</div>
                                      <div>
                                        <i style="color:  #98FB98;background-color: hsl(0, 0%, 0%, 0.4); cursor: default; padding-left: 5px" class="fas fa-bullhorn"  ng-style="{'display': streams[$index].isTalking() ?'inline-block':'none'}" title="Talking..."></i>
                                        <i style="color:  #FF6347; background-color: hsl(0, 0%, 0%, 0.4); cursor: default;padding-left: 5px" class="fas fa-microphone-slash"  ng-style="{'display': streams[$index].muteStatus(false, true) ?'inline-block':'none'}" title="Remote Audio Muted"></i>
                                      </div>                                       
                                    </div>
                                    <div class="text-center" style="position:absolute;left:0; right:0;top:40%; bottom:0;margin:auto; display: none" ng-style="{'display': streams[$index].isConnected ?'none':'block'}">
                                      <div class="spinner-border text-light" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                    </div>
                                  

                                    <div style="position:absolute;left:0; right:0;top:40%; bottom:0;margin:auto;">
                                      <div>                                        
                                        <i style="color: #FF6347; display: none; font-size: 30px; cursor: pointer; display: none;" class="fas fa-video-slash" ng-style="{'display': streams[$index].muteStatus(true, true) ?'block':'none'}"  title="Remote Video Muted"></i>
                                      </div>
                                    </div>

                                    <div style="text-align: center;" id="video-container-{{getStreamId(streams[$index])}}">
                                      <video class="centered"  id="video-{{getStreamId(streams[$index])}}"  width= "100%" height="100%" autoplay playsinline />
                                    </div>  

                                  <div class="stream-options" style="top:2px; right:2px; position: absolute; background-color: hsl(0, 0%, 0%, 0.4); width: 30px;" ng-style="{'display': streams[$index].muteStatus(true, false) || streams[$index].muteStatus(false, false) ?'block':'', 'font-size': grid_mode >= 3 ? '10px' : '15px'}">
                                    <a href="#" style="color: white; display: block;"><i ng-class="getAudioStatusClass(streams[$index])" ng-click="streams[$index].toggleMute(false);" ng-attr-title="{{ streams[$index].muteStatus(false, false) == false ? 'Mute Audio': 'Unmute Audio'}}" ></i></a>
                                    <a href="#" style="color: white;display: block;" ><i ng-class="getVideoStatusClass(streams[$index])" ng-click="streams[$index].toggleMute(true);" ng-attr-title="{{ streams[$index].muteStatus(true, false) == false ? 'Mute Video': 'Unmute Video'}}"></i></a>
                                    <a href="#" style="color: white;display: block;" ng-show="grid_mode!=1 && !streams[index].muteStatus(true, true) && !streams[index].muteStatus(true, false)" ><i ng-class="getFullScreenStatusClass(streams[$index])" ng-click="toggleExpandScreen(streams[$index])" ng-attr-title="{{ streams[$index].isExpandedScreen? 'Compress': 'Expand'}}"></i></a>
                                    <a href="#" style="color: white;display: block;" ng-show="!streams[index].muteStatus(true, true) && !streams[index].muteStatus(true, false)"><i class="fa fa-window-maximize" ng-click="openFullscreen('video-', getStreamId(streams[$index]), streams[$index])" title="Full Screen"></i></a>
                                     <a href="#" style="color: white;display: block;" ><i class="fas fa-comment-alt" ng-click="showPopupChat(streams[$index])" title="Chat"></i></a>
                                    <a href="#" style="color: white;display: block;" ><i class="fa fa-times" ng-click="on_hangup(streams[$index], false)" title="Hangup"></i></a>
                                  </div>
                                  </div>
                        </div>
                    </div>
                  </div>

                  <div ng-if ="expanded_video_selected && streams.length!=0" on-expanded-screen-render="onExpandedScreenRendered" style="background-color: #ccc">
                      <div class="mx-auto" style="top:2px; position:absolute;color: white; text-align: center; font-size: 15px">
                        <div style="background-color: hsl(0, 0%, 0%, 0.4);" ng-if="display_names">
                          &nbsp; {{ getStreamName(expanded_video_selected)}} &nbsp;
                            </div>
                            <div style="float: left;">
                              <i style="color:  #98FB98; cursor: pointer; padding-left: 5px; background-color: hsl(0, 0%, 0%, 0.4);" class="fas fa-bullhorn"  ng-style="{'display': expanded_video_selected.isTalking() ?'inline-block':'none'}" title="Talking..."></i>
                              <i style="color:#FF6347; display: none;cursor: pointer; display: none; padding-left: 5px; background-color: hsl(0, 0%, 0%, 0.4);" class="fas fa-microphone-slash"  ng-style="{'display': expanded_video_selected.muteStatus(false, true) ?'inline-block':'none'}" title="Remote Audio Muted"></i>                            
                           </div>
                     </div>
                      <div class="stream-thumbnail-block mx-auto" style="border:0px solid red;" id="expanded-screen-container">
                                              
                        <div class="text-center" style="position:absolute;left:0; right:0;top:40%; bottom:0;margin:auto; display: none" ng-style="{'display': expanded_video_selected.isConnected ?'none':'block'}">
                          <div class="spinner-border text-light" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>  

                        <div style="position:absolute;left:50%; right:0;top:40%;">
                          <div>                                              
                            <i style="color:#FF6347; display: none; font-size: 30px" class="fas fa-video-slash"ng-style="{'display': expanded_video_selected.muteStatus(true, true) ?'block':'none'}"></i>
                          </div>
                        </div>
                        

                        <div style="text-align: center;" id="expanded-screen-video-container-{{getStreamId(expanded_video_selected)}}">
                          <video class="centered" id="expanded-screen-video-{{getStreamId(expanded_video_selected)}}" width="100%" height="100%" autoplay playsinline/></video>
                        </div>
                        <div style="display: block; text-align: center; top: 2px; right: 2px; position: absolute; background-color: hsl(0, 0%, 0%, 0.4); width: 30px; font-size: 15px; display: block;" ng-style="{'display': expanded_video_selected.muteStatus(true, false) || expanded_video_selected.muteStatus(false, false) ?'block':''}">
                            <a href="#" style="color: white; display: block;"><i ng-class="getAudioStatusClass(expanded_video_selected)" ng-click="expanded_video_selected.toggleMute(false);" ng-attr-title="{{ expanded_video_selected.muteStatus(false, false) == false ? 'Mute Audio': 'Unmute Audio'}}"></i></a>
                            <a href="#" style="color: white; display: block;" ><i ng-class="getVideoStatusClass(expanded_video_selected)" ng-click="expanded_video_selected.toggleMute(true);" ng-attr-title="{{ expanded_video_selected.muteStatus(true, false) == false ? 'Mute Video': 'Unmute Video'}}"></i></a>
                            <a href="#" style="color: white; display: block;" ><i class="fa fa-compress" ng-click="toggleExpandScreen(expanded_video_selected)" title="Compress"></i></a>
                            <a href="#" style="color: white;display: block;" ><i class="fa fa-window-maximize" ng-click="openFullscreen('expanded-screen-video-', getStreamId(expanded_video_selected), expanded_video_selected)" title="Full Screen"></i></a>
                            <a href="#" style="color: white;display: block;" ><i class="fas fa-comment-alt" ng-click="showPopupChat(expanded_video_selected)" title="Chat"></i></a>
                        </div>
                    </div>

                    <div ng-if ="expanded_video_selected && streams.length!=0" class="horizonatal-scroll-stream" id="horizontal-strip-body" style="overflow-y: hidden; background-color: grey">
                      <div class="row no-gutters flex-nowrap mx-auto" style="max-width: 100%; overflow-y: hidden;" id="stream_list_horizontal">
                        <div class="strip-thumbnail col-3" style="max-width: 177px;" ng-repeat="s in streams track by $index" ng-if="streams[$index] != null" ng-class ="{'stream-thumbnail-block-selected': streams[$index].isSelected, 'stream-thumbnail-block': !streams[$index].isSelected}" ng-dblclick="grid_mode==1 ? '' : toggleExpandScreen(streams[$index])" ng-style="{'display': expanded_video_selected == streams[$index] ? 'none': 'block' }" id="parent-video-small-{{getStreamId(streams[$index])}}" on-finish-render="onStripRendered" >
                          <div style="text-align: center;">
                            <div class="panel panel-default">
                               <div class="mx-auto" style="top:0; position:absolute;color: white; text-align: center; font-size: 15px">
                                <div style="background-color: hsl(0, 0%, 0%, 0.4);" ng-if="display_names">
                                &nbsp;{{getStreamName(streams[$index])}}&nbsp;
                                </div>
                                <div style="float: left;">
                                  <i style="color:  #98FB98;background-color: hsl(0, 0%, 0%, 0.4); cursor: default; padding-left: 5px" class="fas fa-bullhorn"  ng-style="{'display': streams[$index].isTalking() ?'inline-block':'none'}" title="Talking..."></i>
                                  <i style="color: #FF6347; background-color: hsl(0, 0%, 0%, 0.4); cursor: default; padding-left: 5px" class="fas fa-microphone-slash"  ng-style="{'display': streams[$index].muteStatus(false, true) ?'inline-block':'none'}" title="Remote Audio Muted"></i>                              
                                </div>
                              </div>
                                


                              <div class="panel-body" style="background-color: #ccc;">
                                <div class="text-center" style="position:absolute;left:0; right:0;top:40%; bottom:0;margin:auto; display: none" ng-style="{'display': streams[$index].isConnected ?'none':'block'}">
                                      <div class="spinner-border text-light" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                    </div>

                                    <div class="loss-indicator" style="background-color: hsl(0, 0%, 0%, 0.4); width: 40px;top:20px; left:0px; position: absolute; cursor: pointer; z-index: 100" title="Loss: -50%" >
                                      <div>                                    
                                        &nbsp;<i style="font-size: 10px; color: red; display: inline;" class="fa fa-circle"></i>
                                        <span style="font-size: 8px; color: white; display: inline; padding-bottom: 20px">-50%</span>
                                      </div>                                    
                                    </div>

                                    <div style="position:absolute;left:0; right:0;top:40%; bottom:0;margin:auto;">
                                      <div>                                     
                                        <i style="color: #FF6347; display: none; font-size: 30px" class="fas fa-video-slash"ng-style="{'display': streams[$index].muteStatus(true, true) ?'block':'none'}"></i>
                                      </div>
                                    </div>

                                <div style="text-align: center;" id="video-small-container-{{getStreamId(streams[$index])}}">
                                  <video class="centered" id="video-small-{{getStreamId(streams[$index])}}" width="100%" height="100%" autoplay playsinline/></video>
                                </div>

                                <div class="loss-indicator" style="background-color: hsl(0, 0%, 0%, 0.4); width: 30px;top:20px; left:0px; position: absolute; cursor: pointer;" title="Loss: -50%" >
                                  <div>                                    
                                    &nbsp;<i style="font-size: 8px; color: red; display: inline;" class="fa fa-circle"></i>
                                    <span style="font-size: 6px; color: white; display: inline; padding-bottom: 20px">-50%</span>
                                  </div>                                    
                                </div>
                                <div class="stream-options" style="top:1px; right:1px; position: absolute; background-color: hsl(0, 0%, 0%, 0.4); width: 20px; font-size: 10px" ng-style="{'display': streams[$index].muteStatus(true, false) || streams[$index].muteStatus(false,  false) ?'block':''}">
                                    <a href="#" style="color: white; display: block;"><i ng-class="getAudioStatusClass(streams[$index])" ng-click="streams[$index].toggleMute(false);" ng-attr-title="{{ streams[$index].muteStatus(false, false) == false ? 'Mute Audio': 'Unmute Audio'}}" ></i></a>
                                    <a href="#" style="color: white;display: block;" ><i ng-class="getVideoStatusClass(streams[$index])" ng-click="streams[$index].toggleMute(true);" ng-attr-title="{{ streams[$index].muteStatus(true, false) == false ? 'Mute Video': 'Unmute Video'}}"></i></a>
                                    <a href="#" style="color: white;display: block;" ng-show="grid_mode!=1" ><i ng-class="getFullScreenStatusClass(streams[$index])" ng-click="toggleExpandScreen(streams[$index])" ng-attr-title="{{ streams[$index].isExpandedScreen? 'Compress': 'Expand'}}"></i></a>
                                    <a href="#" style="color: white;display: block;" ><i class="fa fa-window-maximize" ng-click="openFullscreen('video-small-', getStreamId(streams[$index]), streams[$index])" title="Full Screen"></i></a>
                                     <a href="#" style="color: white;display: block;" ><i class="fas fa-comment-alt" ng-click="showPopupChat(streams[$index])" title="Chat"></i></a>                                    
                                  </div>
                              </div>
                            </div>
                          </div>                              
                        </div>
                      </div>
                  </div>

                </div>
         </div> 
            
          <div id="sound"></div> 
          <!-- Play notofication sound -->
      </div>
   </div>

         <!--Invite Modal Start -->
            <div id="ModalInviteForm" class="modal fade">
              <div class="modal-dialog" style="max-width: 80vw; max-height: 80vh" role="document">
                      <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Copy Invitation</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form role="form" method="POST" action="">
                            <div class="form-group">
                              <div class="row" ng-show="room.pin && room.spin">                                 
                                  <div class="col-6 h-100">                                    
                                    <div style="max-height: 30%">
                                      <p style="font-size: 15px;color: grey;">Send the following invitation text to people who you want to actively participate in the conference. They will be able to make a video or voice call to the conference. </p>
                                    </div>

                                    <textarea readonly class = "form-control" rows = "10" placeholder = "Join my room" style="font-size: 15px; user-select: none; " id='invite-text-publisher'>Hey,&#13;&#13;{{user.name}} has invited you to join the conference - {{room.name}}.&#13;&#13;To join the conference  - Visit https://mesibo.com/livedemo and use the following credentials:.&#13;&#13;Room ID: {{room.gid}} &#13;Pin: {{room.pin}}
                                    </textarea>                                
                                    
                                    <div class="mx-auto" style="text-align: center; padding-top: 10px">
                                      <button type="button" class="btn btn-success btn-sm" ng-click="copyInviteText(participant_type_publisher)" style="background-color: #00868b">
                                        <i class="fa fa-copy" style="color: white; padding-right: 5px"></i>Copy Invite</button>
                                    </div> 
                                  </div>

                                  <div class="col-6 h-100">                                    
                                  <div style="max-height: 30%">
                                      <p style="font-size: 15px;color: grey;">Send the following invitation text to people who you want to silently participate in the conference. <strong>They will not be able to make a call -but they will be able to view the conference</strong>. </p>
                                    </div>

                                    <textarea readonly class = "form-control" rows = "10" placeholder = "Join my room" style="font-size: 15px; user-select: none; " id='invite-text-subscriber'>Hey,&#13;&#13;{{user.name}} has invited you to join the conference - {{room.name}}.&#13;&#13;To join the conference  - Visit https://mesibo.com/livedemo and use the following credentials:.&#13;&#13;Room ID: {{room.gid}} &#13;Pin: {{room.spin}}
                                    </textarea>                                
                                    
                                    <div class="mx-auto" style="text-align: center; padding-top:10px">
                                      <button type="button" class="btn btn-success btn-sm" ng-click="copyInviteText(participant_type_subscriber)" style="background-color: #00868b">
                                        <i class="fa fa-copy" style="color: white; padding-right: 5px"></i>Copy Invite</button>
                                    </div> 
                                  </div>

                                  
                                  
                                  
                                </div>                                                                                                                                  
                                </div>
                            </div>
                        </form>            
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
      <!--Invite Modal End -->

      <!-- Chat popup start-->
      <div id="Smallchat">
        <div class="Layout Layout-open Layout-expand Layout-right popup-main-div" id="popup_chat" style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px; bottom: 0; margin-right: 10px!important;">
          <div class="Messenger_messenger">
            <div class="Messenger_header" style="background-color:#00868b ; color: rgb(255, 255, 255); cursor: move;">
              <div class="row" style="padding-left: 20px">
                <p class="Messenger_prompt popup_display_name"  id ='popup_display_name' style="font-size:18px; padding-top:8px"> Name </p> 
                <!-- <p class="text-white-small popup_status_indicator" style=" font-size:11px" id="popup_status_indicator" >Online</p> -->
              </div>
              <span class="chat_features">                

                <span style="padding-left: 10px" class="chat_close" id = "popup_chat_close">
                  <svg viewBox="0 0 12 12" width="14px" height="14px">
                    <line stroke="#FFFFFF" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                    <line stroke="#FFFFFF" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
                  </svg>
                </span>

              </span> 

            </div>
            <div class="Messenger_content" style="overflow: hidden;">
              <div class="Messages" id='scrollMessage'>
                <div class="Messages_list" id="msglist">
                  <div class="popup-message-area" >
                    <div class="popup-message-area-1">
                      <div class= "popup-message-area-2">
                        <div  style="max-width: 300px;overflow-wrap: break-word;">
                          <div class="popup-message-area-sender-name" style="color: grey; font-weight: bold; font-size: 15px"></div>                                                    
                        </div> 
                        <a class="popup-message-area-file"  target="_blank" style="max-width: 300px;" >
                          <div  class= "popup-message-area-image image-holder"><img class= "popup-message-area-image-src"  style="cursor:pointer;"/>
                          </div>
                          <div class= "popup-message-area-video image-holder"><video class= "popup-message-area-video-src" controls="controls" preload="true" style="max-width: 300px;overflow: hidden;cursor:pointer;" />
                          </div>
                          <div class= "popup-message-area-audio image-holder"><audio class= "popup-message-area-audio-src" controls="controls" preload="true" style="max-width: 300px;overflow: hidden;cursor:pointer;" />
                          </div>
                          <div class= "popup-message-area-other image-holder"><img ng-src= "assets/images/file/default_file_icon.jpg" style="cursor:pointer;" />
                          </div>
                        </a>
                        <div  style="max-width: 300px;overflow-wrap: break-word;">                                                   
                          <div class="popup-message-area-message-text" style="font-size: 15px"></div>                          
                        </div>                                              
                      </div>
                    </div>
                    <div class="d-flex flex-row popup-message-area-details">
                          <div class="time ml-auto small text-muted mx-0 popup-message-area-details-1"  style="font-size: 11px; margin-left: 0!important">
                              <span class="popup-message-area-message-time"></span>
                              <i class="popup-message-area-message-status"></i>
                          </div>
                    </div>                    
                  </div>
                </div>
                <!-- Anchor to Scroll -->
                <div class="popup-message-area-anchor-end" id="messages_end">&nbsp;</div>
              </div>
              <div class="Input Input-blank" style="overflow: none">
                <textarea onkeyup="textAreaAdjust(this)" ng-model="input_message_text" class="Input_field popup-message-area-message-input" placeholder="Send a message..." style="height: 20px;" id='inputfield'></textarea>


                <button class="Input_button Input_button-emoji" title="Add Attachment">
                  <div class="Icon" style="width: 18px; height: 18px;">
                    <input  id="upload" type="file" onchange="angular.element(this).scope().onFileSelect(this)" style="padding-left: : 5px; display: none;">
                    <i id="file-upload" class="fa fa-paperclip popup-message-area-upload-file" style="padding-left:5px; color: #96aab4;"></i>
                  </div>
                </button>


                <button class="Input_button Input_button-send popup-message-area-message-input-send" title="Send" >
                  <div class="Icon" style="width: 18px; height: 18px;">
                    <svg width="57px" height="54px" viewBox="1496 193 57 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 18px; height: 18px;">
                      <g id="Group-9-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)">
                      <path d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C50.8414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z" id="sendicon" fill="#96AAB4" fill-rule="nonzero"></path>
                      </g>
                    </svg>
                  </div>
                </button>               
              </div>
            </div>
          </div>
        </div>

        <!--=============== Screen Share Preview modal start ===============-->
        <div class="container">
          <div class="modal fade" id="screenSharePreview" tabindex="-1" role="dialog" aria-hidden="true" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h7 class="modal-title" id="screen-share-id">Sharing Screen-</h7>
                  <button type="button" class="close" data-dismiss="modal" ng-click="closeScreenSharePreview();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                     <div  class="mx-auto my-auto" style="text-align: center;width:320px;">
                        <video class="centered" id="screen-share-preview" style="height: 180px" autoplay playsinline muted width="100%" />
                      </div> 
                      <div style="text-align: center;" class="mx-auto">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      </div>           
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=============== Screen Share Preview end===============-->


        <!--=============== File modal start===============-->
        <div class="container">
          <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h7 class="modal-title" id="fileModalLabel">Selected File: </h7>
                  <button type="button" class="close" data-dismiss="modal" ng-click="closeFilePreview();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body" id="fileBody" style="width: 300px;margin: auto;">
                  <div class="file-preview-holder" style="display: flex;justify-content: center; max-height: 400px">
                    <img  id = 'image-preview' src="">
                    <video id = 'video-preview' controls="controls" preload="true"  src=""></video> 
                    <!-- Image/video/Docs custom holder elements -->
                  </div>
                  <div style="display: flex;flex-direction: row;">                   
                      <input ng-model="input_file_caption" type="text" name="caption" id="file-caption" placeholder="Add caption" style="width:200px; margin:auto" class="flex-grow-1 border-0 px-3 py-2 my-1 rounded shadow-sm">
                      <div>
                      <i id="popup-send-file" class="fa fa-paper-plane text-muted px-3 my-3" style="cursor:pointer; display: inline-block;"></i>
                      </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=============== File modal end===============-->
    </div>
          <!-- Chat popup end -->

<script type="text/javascript">

	if(isMobileDetected()){
		alert('For a better experience using the Sample Conferencing App, it is recommended that you use it on a desktop. The native mobile version, for Android & iOS is currently under development.');
		window.open("mobile.html","_self");
	}

	if(isBrowserOutdated())
		alert('Please update to the latest version of your browser, for a better experience using the Sample Conferencing App');

</script>

</body>

</html>
