<!DOCTYPE html>
<html lang="en" >

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
   <title>Mesibo Live</title>
 
   <link rel="stylesheet" href="third-party/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
   
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
   <link rel="stylesheet" href="styles/mesibolive.css">
   <link href="styles/live.css" rel="stylesheet">
   <link href="styles/popup.css" rel="stylesheet">
   <link href="styles/popupdesign.css" rel="stylesheet">

    <!--SCRIPTINCLUDESTART-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="third-party/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <script src="assets/scripts/platform.js"></script>
 
   <script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script type="text/javascript" src="https://api.mesibo.com/mesibo.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts/controller.js"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=6LceR_sUAAAAAEfV7LZK2cOaOHRzPSCNEK-_jcfU"></script>


    <script type="text/javascript" src="mesibo/config.js"></script>    
    <script type="text/javascript" src="mesibo/utils.js"></script>
    <script type="text/javascript" src="mesibo/app.js"></script>
    <script type="text/javascript" src="mesibo/calls.js"></script>
    <script type="text/javascript" src="mesibo/files.js"></script>

    <script type="text/javascript" src="scripts/app-utils.js"></script>
    <script type="text/javascript" src="scripts/login.js"></script>
    <script type="text/javascript" src="scripts/controller.js"></script>
    <!--SCRIPTINCLUDEEND-->  
</head>

<body ng-app="mlApp" id="mesiboliveapp" ng-controller="roomController" style="overflow-x: none">
 <a href="https://github.com/mesibo/conferencing" style="color: grey; padding-bottom: 10px ; text-decoration:none">&nbsp;<img width="100px" src="assets/images/mesibo-logo-m.png">&nbsp;Live&nbsp;</a>
 <span class="connection-indicator" style="width:10px" ng-style ="{'background-color': getStatusIndicator(mesibo_connection_status)}"></span>

 <span  style="color: #00868b;text-align: center; display: inline-block; margin:0px" ng-cloak="isMesiboConnected()">
	 <div style="font-size: 25px">
		 <i class="fa fa-comments" aria-hidden="true" ng-click="showPopupChat()" style = "cursor:pointer;padding-left: 10px;width: 50px" title="Group Chat">{{group_messsage_notification}}</i>
		 <i class="fa fa-user-plus" aria-hidden="true" onclick="showInviteForm()" style = "color: #00868b; cursor:pointer;" ng-if="room.pin && room.spin" title="Invite"></i>
		 <i class="fa fa-power-off" aria-hidden="true" ng-click="exitRoomForm()" style = "cursor:pointer;   display: inline-block;" title="Exit Room"></i>
	</div>
  </span>    

      <!--Invite Modal Start -->
            <div id="ModalInviteForm" class="modal fade">
              <div class="modal-dialog" style="max-width: 100vw; max-height: 100vh" role="document">
                      <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Copy Invitation</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form role="form" method="POST" action="">
                            <div class="form-group">
                              <div class="row" ng-show="room.pin && room.spin">                                 
                                  <div class="col-12">                                    
                                    <div>
                                      <p style="font-size: 15px;color: grey;">Send the following invitation text to people who you want to actively participate in the conference. They will be able to make a video or voice call to the conference. </p>
                                    </div>

                                    <textarea readonly class = "form-control" rows = "10" placeholder = "Join my room" style="font-size: 15px; user-select: none; " id='invite-text-publisher'>Hey,&#13;&#13;{{user.name}} has invited you to join the conference - {{room.name}}.&#13;&#13;To join the conference  - Visit https://mesibo.com/livedemo and use the following credentials:.&#13;&#13;Room ID: {{room.gid}} &#13;Pin: {{room.pin}}
                                    </textarea>                                
                                    
                                    <div class="mx-auto" style="text-align: center; padding-top: 10px">
                                      <button type="button" class="btn btn-success btn-sm" ng-click="copyInviteText(participant_type_publisher)" style="background-color: #00868b">
                                        <i class="fa fa-copy" style="color: white; padding-right: 5px"></i>Copy Invite</button>
                                    </div> 
                                  </div>
				 
				 <hr class="w-100"/> 
 
				 <div class="col-12">                                    
                                  <div>
                                      <p style="font-size: 15px;color: grey;">Send the following invitation text to people who you want to silently participate in the conference. <strong>They will not be able to make a call -but they will be able to view the conference</strong>. </p>
                                    </div>

                                    <textarea readonly class = "form-control" rows = "10" placeholder = "Join my room" style="font-size: 15px; user-select: none; " id='invite-text-subscriber'>Hey,&#13;&#13;{{user.name}} has invited you to join the conference - {{room.name}}.&#13;&#13;To join the conference  - Visit https://mesibo.com/livedemo and use the following credentials:.&#13;&#13;Room ID: {{room.gid}} &#13;Pin: {{room.spin}}
                                    </textarea>                                
                                    
                                    <div class="mx-auto" style="text-align: center; padding-top:10px">
                                      <button type="button" class="btn btn-success btn-sm" ng-click="copyInviteText(participant_type_subscriber)" style="background-color: #00868b">
                                        <i class="fa fa-copy" style="color: white; padding-right: 5px"></i>Copy Invite</button>
                                    </div> 
                                  </div>

                                  
                                  
                                  
                                </div>                                                                                                                                  
                                </div>
                            </div>
                        </form>            
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

      <!--Self Info Modal End-->

            <!--Invite Modal Start -->
            <div id="ModalSelfInfo" class="modal fade">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{{user.name}}</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form role="form" method="POST" action="">
                            <input type="hidden" name="_token" value="">
                            <div class="form-group">
                                <label class="control-label"><strong>User ID</strong></label>
                                <div>
                                    <input type="name" class="form-control input-lg" name="name" ng-value="user.uid" disabled>
                                </div>
                                <br>
                                <label class="control-label"><strong>Email</strong></label>
                                <div>
                                    <input type="name" class="form-control input-lg" name="name" ng-value="user.email" disabled>
                                </div>                                
                                <br>

                                <label class="col-12 control-label text-center my-0 mx-auto"><strong>Online in the following room(s)</strong></label>
                                <hr style="border: 0; height: 1px; background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); ">
                                <div>
                                    <strong>Room Name</strong>: &nbsp; {{room.name}} &nbsp;<strong> Room ID </strong>: &nbsp; {{room.gid}} &nbsp;
                                </div>                                    
                                </div>
                            </div>
                        </form>            
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

      <!--Self Info Modal End-->

      <!--Exit Room Modal Start -->
            <div id="ModalExitForm" class="modal fade">
            <div class="modal-dialog modal-dialog-centered mx-auto" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mx-auto" style="text-align: center;width: 100%">Are you sure to exit the room ?</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="">                          
                            <div class="form-group">
                                <div style="text-align: center;">
                                    <button type="button" class="btn btn-success" ng-click="exitRoom()">Exit</button>
                                </div>
                                
                            </div>
                        </form>            
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

      <!--Exit Room Modal End-->

      <div class="container-fluid mx-1" id="main-container" ng-cloak="isMesiboConnected()">
         <div class="row h-100">          
            <!-- Streams Area -->
            
            <div class="d-none d-flex flex-column col-12" id="streams-area">                  
                   <div class="row" id="grid-container">
                    <div class="col-6" ng-show="room.publish == 1" style="padding-right: 0!important; padding-left: 0!important; background-color: hsl(0, 0%, 0%, 0.4);" ng-class="{'col-12': streams.length == 0, 'col-6': streams.length > 0}">
                          <div class="self-publisher-panel" id="video-publisher-panel" style="border: 2px solid white;">
                                  <div class="d-flex h-100 justify-content-center">
                                    <div class="row" ng-show="publisher.streamOptions" style="position: fixed; margin-top: 1rem; text-align: center; z-index: 100"> 
                                      <i class='fa fa-camera col-6'  ng-click="streamFromCamera()" style = "cursor:pointer; color: #00868b;font-size: 1.5em;" title="Camera" ></i>                 
                                    </div>
                                    <div class="spinner-border text-light" style="position: fixed; margin-top: 1rem" role="status" ng-style="{'display': (!publisher.isConnected && !publisher.streamOptions) ? 'block':'none'}">
                                      <span class="sr-only">Loading...</span>
                                    </div>
                                  </div> 
                                  <div class="mx-auto" style="top:0; position:absolute;color: white; text-align: center; font-size: 15px;">                                      
                                      <div style="background-color: hsl(0, 0%, 0%, 0.4); display: inline;" ng-if="display_names">                                        
                                      &nbsp;You&nbsp;</div>                                       
                                    </div> 
                                  
                                  <div  class="mx-auto" style="text-align: center;" id="video-publisher-container">
                                    <video class="centered" id="video-publisher"; autoplay playsinline muted width="100%"  height="100%" />
                                  </div>

                                  <div class="stream-options" style="top:2px; right:2px; position: absolute; background-color: hsl(0, 0%, 0%, 0.4); width: 30px; font-size: 20px; text-align: center;" ng-style="{'display': (publisher.muteStatus(true, false) || publisher.muteStatus(false, false))?'block':'default'}">
                                      <a href="#" style="color: white; display: block;"><i ng-class="getAudioStatusClass(publisher)" ng-click="toggleSelfAudio()" ng-attr-title="{{ publisher.muteStatus(false, false) == false ? 'Mute Audio': 'Unmute Audio'}}" ></i></a>
                                      <a href="#" style="color: white;display: block;" ><i ng-class="getVideoStatusClass(publisher)" ng-click="toggleSelfVideo()" ng-attr-title="{{ publisher.muteStatus(true, false) == false ? 'Mute Video': 'Unmute Video'}}"></i></a>
                                      <a href="#" style="color: white;display: block;" ><i class="fa fa-expand" ng-click="openFullscreen('video-publisher', '', publisher)" title="Full Screen"></i></a>
                                      
                                      <a href="#" style="color: white;display: block;" ><i class="fa fa-power-off" aria-hidden="true" ng-click="exitRoomForm()" title="Exit Room"></i></a>                        
                                  </div>                               
                          </div>                        
                      </div>

                    <div ng-repeat="s in streams track by $index" ng-if="streams[$index] != null"  class ="col-6 pl-0 pr-0" ng-class="{'stream-thumbnail-block-selected': streams[$index].isSelected, 'stream-thumbnail-block': !streams[$index].isSelected, 'stream-thumbnail-block': streams[$index].isVisible, 'stream-thumbnail-block-hidden': !streams[$index].isVisible}" ng-dblclick="grid_mode==1 ? '' : toggleFullScreen(streams[$index])" on-finish-render="onStreamsRendered" id="stream-container-{{$index}}" style="background-color: hsl(0, 0%, 0%, 0.4);">
                        <div style="text-align: center;">
                                  <div >   
                                    <div class="mx-auto" style="top:0; position:absolute;color: white; text-align: left; font-size: 15px;">                                      
                                      <div style="background-color: hsl(0, 0%, 0%, 0.4); display: inline;" ng-if="display_names">                                        
                                      &nbsp;{{getStreamName(streams[$index])}}&nbsp;</div>
                                    <div>
                                      <i style="color:  #98FB98;background-color: hsl(0, 0%, 0%, 0.4); cursor: default; padding-left: 5px" class="fas fa-bullhorn"  ng-style="{'display': streams[$index].isTalking() ?'inline-block':'none'}" title="Talking..."></i>
                                      <i style="color:#FF6347; display: none;cursor: pointer; display: none; padding-left: 5px; background-color: hsl(0, 0%, 0%, 0.4);" class="fas fa-microphone-slash"  ng-style="{'display': streams[$index].muteStatus(false, true) ?'inline-block':'none'}" title="Remote Audio Muted"></i> 
                                    </div>
                                    </div>

                                    <div class="text-center" style="position:absolute;left:0; right:0;top:40%; bottom:0;margin:auto; display: none" ng-style="{'display': streams[$index].isConnected ?'none':'block'}">
                                      <div class="spinner-border text-light" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                    </div>

                                    <div class="loss-indicator" style="background-color: hsl(0, 0%, 0%, 0.4); width: 40px;top:20px; left:0px; position: absolute; cursor: pointer; z-index: 100" title="Loss: -50%" >
                                      <div>                                    
                                        &nbsp;<i style="font-size: 10px; color: red; display: inline;" class="fa fa-circle"></i>
                                        <span style="font-size: 8px; color: white; display: inline; padding-bottom: 20px">-50%</span>
                                      </div>                                    
                                    </div>

                                    <div style="position:absolute;left:0; right:0;top:30%; bottom:0;margin:auto;">
                                      <div>                                        
                                        <i style="color: #FF6347; display: none; font-size: 30px; cursor: pointer; display: none;" class="fas fa-video-slash" ng-style="{'display': streams[$index].muteStatus(true, true) ?'block':'none'}"  title="Remote Video Muted"></i>
                                      </div>
                                    </div>

                                    <div style="text-align: center;" id="video-container-{{getStreamId(streams[$index])}}">
                                      <video class="centered"  id="video-{{getStreamId(streams[$index])}}"  width= "100%" height ="100%" autoplay playsinline />
                                    </div>  

                                  <div class="stream-options" style="top:0; right:0; position: absolute; background-color: hsl(0, 0%, 0%, 0.4); width: 30px; font-size: 20px" ng-style="{'display': streams[$index].muteStatus(true, false) || streams[$index].muteStatus(false, false) ?'block':'default'}">
                                    <a href="#" style="color: white; display: block;"><i ng-class="getAudioStatusClass(streams[$index])" ng-click="streams[$index].toggleMute(false);" ng-attr-title="{{ streams[$index].muteStatus(false, false) == false ? 'Mute Audio': 'Unmute Audio'}}" ></i></a>
                                    <a href="#" style="color: white;display: block;" ><i ng-class="getVideoStatusClass(streams[$index])" ng-click="streams[$index].toggleMute(true);" ng-attr-title="{{ streams[$index].muteStatus(true, false) == false ? 'Mute Video': 'Unmute Video'}}"></i></a>                                    
                                    <a href="#" style="color: white;display: block;" ng-show="!streams[index].muteStatus(true, true) && !streams[index].muteStatus(true, false)"><i class="fa fa-expand" ng-click="openFullscreen('video-', getStreamId(streams[$index]), streams[$index])" title="Full Screen"></i></a>
                                     <a href="#" style="color: white;display: block;" ><i class="fa fa-comment-alt" ng-click="showPopupChat(streams[$index])" title="Chat"></i></a>
                                    <a href="#" style="color: white;display: block;" ><i class="fa fa-times" ng-click="on_hangup(streams[$index], false)" title="Hangup"></i></a>
                                  </div>
                                  </div>
                        </div>
                    </div>
                  </div>  
         </div> 
            
          <div id="sound"></div> 
          <!-- Play notofication sound -->
      </div>
   </div>

      <!-- Chat popup start-->
      <div id="Smallchat">
        <div class="Layout Layout-open Layout-expand Layout-right popup-main-div" id="popup_chat" style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px; bottom: 0; margin-right: 10px!important;">
          <div class="Messenger_messenger">
            <div class="Messenger_header" style="background-color:#00868b ; color: rgb(255, 255, 255); cursor: move;">
              <div class="row" style="padding-left: 20px">
                <p class="Messenger_prompt popup_display_name"  id ='popup_display_name' style="font-size:18px; padding-top:8px"> Name </p> 
                <!-- <p class="text-white-small popup_status_indicator" style=" font-size:11px" id="popup_status_indicator" >Online</p> -->
              </div>
              <span class="chat_features">                

                <span style="padding-left: 10px" class="chat_close" id = "popup_chat_close">
                  <svg viewBox="0 0 12 12" width="14px" height="14px">
                    <line stroke="#FFFFFF" x1="11.75" y1="0.25" x2="0.25" y2="11.75"></line>
                    <line stroke="#FFFFFF" x1="11.75" y1="11.75" x2="0.25" y2="0.25"></line>
                  </svg>
                </span>

              </span> 

            </div>
            <div class="Messenger_content" style="overflow: hidden;">
              <div class="Messages" id='scrollMessage'>
                <div class="Messages_list" id="msglist">
                  <div class="popup-message-area" >
                    <div class="popup-message-area-1">
                      <div class= "popup-message-area-2">
                        <div  style="max-width: 300px;overflow-wrap: break-word;">
                          <div class="popup-message-area-sender-name" style="color: grey; font-weight: bold; font-size: 15px"></div>                                                    
                        </div> 
                        <a class="popup-message-area-file"  target="_blank" style="max-width: 300px;" >
                          <div  class= "popup-message-area-image image-holder"><img class= "popup-message-area-image-src"  style="cursor:pointer;"/>
                          </div>
                          <div class= "popup-message-area-video image-holder"><video class= "popup-message-area-video-src" controls="controls" preload="true" style="max-width: 300px;overflow: hidden;cursor:pointer;" />
                          </div>
                          <div class= "popup-message-area-audio image-holder"><audio class= "popup-message-area-audio-src" controls="controls" preload="true" style="max-width: 300px;overflow: hidden;cursor:pointer;" />
                          </div>
                          <div class= "popup-message-area-other image-holder"><img ng-src= "assets/images/file/default_file_icon.jpg" style="cursor:pointer;" />
                          </div>
                        </a>
                        <div  style="max-width: 300px;overflow-wrap: break-word;">                                                   
                          <div class="popup-message-area-message-text" style="font-size: 15px"></div>                          
                        </div>                                              
                      </div>
                    </div>
                    <div class="d-flex flex-row popup-message-area-details">
                          <div class="time ml-auto small text-muted mx-0 popup-message-area-details-1"  style="font-size: 11px; margin-left: 0!important">
                              <span class="popup-message-area-message-time"></span>
                              <i class="popup-message-area-message-status"></i>
                          </div>
                    </div>                    
                  </div>
                </div>
                <!-- Anchor to Scroll -->
                <div class="popup-message-area-anchor-end" id="messages_end">&nbsp;</div>
              </div>
              <div class="Input Input-blank" style="overflow: none">
                <textarea onkeyup="textAreaAdjust(this)" ng-model="input_message_text" class="Input_field popup-message-area-message-input" placeholder="Send a message..." style="height: 20px;" id='inputfield'></textarea>


                <button class="Input_button Input_button-emoji" title="Add Attachment">
                  <div class="Icon" style="width: 18px; height: 18px;">
                    <input  id="upload" type="file" onchange="angular.element(this).scope().onFileSelect(this)" style="padding-left: : 5px; display: none;">
                    <i id="file-upload" class="fa fa-paperclip popup-message-area-upload-file" style="padding-left:5px; color: #96aab4;"></i>
                  </div>
                </button>


                <button class="Input_button Input_button-send popup-message-area-message-input-send" title="Send" >
                  <div class="Icon" style="width: 18px; height: 18px;">
                    <svg width="57px" height="54px" viewBox="1496 193 57 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 18px; height: 18px;">
                      <g id="Group-9-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)">
                      <path d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C50.8414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z" id="sendicon" fill="#96AAB4" fill-rule="nonzero"></path>
                      </g>
                    </svg>
                  </div>
                </button>               
              </div>
            </div>
          </div>
        </div>

        <!--=============== Log-out modal start ===============-->
        <!--Logout Modal -->
        <div class="container">
          <div class="modal fade" id="logoutModal" tabindex="-1" aria-hidden="true" role="dialog" style="width: 100%;height: 100%; background-color: #00868b">
            <div class="modal-dialog">

              <div class="modal-content">
                <div class="modal-header">
                  <h7 class="modal-title" style="width:100% ;text-align: center;">You have been logged-out</h7>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" style="width:100% ;text-align: center;" data-dismiss="modal" onclick="location.reload();">Login</button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--=============== Log-out modal end ===============-->

        <!--=============== Incoming Call modal start===============-->
        <div class="container">
          <div ng-show="is_answer_call" class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="answerModalLabel">Incoming Call</h5>
                  <button type="button" class="close" data-dismiss="modal" ng-click="HangupCall();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="ansBody">{{call_alert_message}}</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="hangupCall();">Hang-up</button>
                  <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="answerCall();">Answer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=============== Incoming Call answer  modal end ===============-->


        <!--=============== File modal start===============-->
        <div class="container">
          <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h7 class="modal-title" id="fileModalLabel">Selected File: </h7>
                  <button type="button" class="close" data-dismiss="modal" ng-click="closeFilePreview();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body" id="fileBody" style="width: 300px;margin: auto;">
                  <div class="file-preview-holder" style="display: flex;justify-content: center; max-height: 400px">
                    <img  id = 'image-preview' src="">
                    <video id = 'video-preview' controls="controls" preload="true"  src=""></video> 
                    <!-- Image/video/Docs custom holder elements -->
                  </div>
                  <div style="display: flex;flex-direction: row;">                   
                      <input ng-model="input_file_caption" type="text" name="caption" id="file-caption" placeholder="Add caption" style="width:200px; margin:auto" class="flex-grow-1 border-0 px-3 py-2 my-1 rounded shadow-sm">
                      <div>
                      <i id="popup-send-file" class="fa fa-paper-plane text-muted px-3 my-3" style="cursor:pointer; display: inline-block;"></i>
                      </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!--=============== File modal end===============-->
    </div>
          <!-- Chat popup end --> 
  
  <script type="text/javascript">
      (function() {
         window.addEventListener('popstate', function(event) {
          // The popstate event is fired each time when the current history entry changes.

          var r = confirm("Do you want to exit the room?");

          if (r == true) {
              // Call Back button programmatically as per user confirmation.
              history.back();
              exitRoomPrompt();
          } else {
              // Stay on the current page.
              history.pushState(null, null, window.location.pathname);
          }

          history.pushState(null, null, window.location.pathname);

         }, false);
        })(); 
  </script>           

</body>

</html>
